@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: #fdfdfc;
}

#left-leg {
  opacity: 0.5;
}

.wrapper {
  filter: url("#goo");
}

.recording svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke: #000000;
  stroke-width: 10;
  stroke-linecap: round;
}

.recording svg circle:last-of-type {
  stroke-dasharray: 625px;
  stroke-dashoffset: calc(625px - (625px * var(--percent)) / 100);
  stroke: #ffffff;
}

.recording svg {
  width: 100%;
  height: 100%;
}

.recording-text {
  &.active {
    animation: pulsate 1s ease-out infinite;
  }
}

.spin {
  animation: spin 1s linear infinite;
}

.hide-delay {
  animation: hide-delay 0.4s 1s ease-out forwards;
}

@keyframes pulsate {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes hide-delay {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
